<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head', { pkg: pkg }); %>
  </head>

  <body>
    <header class="fixed-top">
      <%- include('../partials/header', { pkg: pkg }); %>
    </header>

    <main class="container">
      <div class="row mb-3">
        <div class="col-12 col-xl-4 mb-3">
          <div class="card text-white <%= doorState.getIsOpen() ? 'bg-success' : 'bg-dark' %>">
            <div class="card-body text-center">
<% if (doorState.getIsBlocked()) { %>
              <a class="btn btn-link py-3" href="/">
                <i class="fas fa-spinner fa-pulse fa-3x"></i>
                <p>Reload for updated status</p>
              </a>
<% } else { %>
              <form method="post" action="/rpc/door">
                <h1 class="my-3">
                  <%= doorState.getIsOpen() ? 'Door is Open' : 'Door is Closed' %>
                </h1>
                <button type="submit" class="btn btn-primary">
                  <%= doorState.getIsOpen() ? 'Close Door' : 'Open Door' %>
                </a>
              </form>
<% } %>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-3">
          <div class="card text-center">
            <div class="card-header"><%= req.today.format('LL') %></div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="card-title">Dawn</div>
                  <h5><%= moment(req.todaysTimes.dawn).format('LT') %></h5>
                </div>
                <div class="col py-3">
                  <h3 class="text-muted">
                    <i class="fas fa-chevron-right"></i>
                  </h3>
                </div>
                <div class="col">
                  <div class="card-title">Dusk</div>
                  <h5><%= moment(req.todaysTimes.dusk).format('LT') %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-3">
          <div class="card text-center">
            <div class="card-header"><%= req.tomorrow.format('LL') %></div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="card-title">Dawn</div>
                  <h5><%= moment(req.tomorrowsTimes.dawn).format('LT') %></h5>
                </div>
                <div class="col py-3">
                  <h3 class="text-muted">
                    <i class="fas fa-chevron-right"></i>
                  </h3>
                </div>
                <div class="col">
                  <div class="card-title">Dusk</div>
                  <h5><%= moment(req.tomorrowsTimes.dusk).format('LT') %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-header">Camera</div>
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </main>

    <footer class="fixed-bottom">
      <%- include('../partials/footer', { pkg: pkg }); %>
    </footer>
  </body>
</html>
